a {
    margin: 5px;
    color: #345a54;
    font-family: 'Rubik Vinyl', cursive;
}

.title {
    color: #651d15;
    font-family: 'Rubik Vinyl', cursive
}

main {
    margin: 1rem;
    background-color: #f7a797;
}
.current-link {
    font-weight: bolder;
    color: black;
}
.userAndpass {
    display: flex;
    flex-direction: column;
}
* {
    background-color: beige;
}
.listed-posts {
    margin: 25px;
    font-family: 'Rubik Vinyl', cursive;
    border: 3px solid red
}
input {
    background-color: white;
}
form {
    display: flex;
    flex-direction: column;
}