a {
    border: 1px solid black;
    padding: 10px;
    color: #345a54;
    background-color: #f7a797;
}

.title {
    color: #651d15;
    font-family: 'Rubik Vinyl', cursive
}

main {
    margin: 1rem;
    background-color: #f7a797;
}
.current-link {
    font-weight: bolder;
    color: black;
}
