a {
    border: 1px solid black;
    padding: 10px;
    color: #345a54;
    background-color: #f7a797;
}
.navLinks {
    display: flex; 
    flex-direction: row;
}
.title {
    color: #651d15;

}
header {
    margin: 1rem;
    background-color: #f7a797;
}
.current-link {
    font-weight: bolder;
    color: black;
}
